# net.minecraft.world.level.block.RailState
public net.minecraft.world.level.block.RailState state # state
public net.minecraft.world.level.block.RailState connections # connections
public net.minecraft.world.level.block.RailState hasNeighborRail(Lnet/minecraft/core/BlockPos;)Z # hasNeighborRail
public net.minecraft.world.level.block.RailState updateConnections(Lnet/minecraft/world/level/block/state/properties/RailShape;)V # updateConnections
public net.minecraft.world.level.block.RailState getRail(Lnet/minecraft/core/BlockPos;)Lnet/minecraft/world/level/block/RailState; # getRail
public net.minecraft.world.level.block.RailState removeSoftConnections()V # removeSoftConnections
public net.minecraft.world.level.block.RailState canConnectTo(Lnet/minecraft/world/level/block/RailState;)Z # canConnectTo
public net.minecraft.world.level.block.RailState connectTo(Lnet/minecraft/world/level/block/RailState;)V # connectTo

# net.minecraft.client.renderer.LevelRenderer
public net.minecraft.client.renderer.LevelRenderer renderShape(Lcom/mojang/blaze3d/vertex/PoseStack;Lcom/mojang/blaze3d/vertex/VertexConsumer;Lnet/minecraft/world/phys/shapes/VoxelShape;DDDFFFF)V # renderShape

# net.minecraft.world.entity.vehicle.VehicleEntity
public net.minecraft.world.entity.vehicle.VehicleEntity destroy(Lnet/minecraft/world/damagesource/DamageSource;)V